/* Base styles for the app container */
html, body, #root, .app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

.main-content {
  flex: 1 0 auto;
  width: 100%;
  min-height: calc(100vh - 80px); /* Account for header height */
}
